<h4> User Login </h4>

<div class="form">
<%= form_for(:session, url: login_path) do |f| %>
  <a> <%= f.label "Username / email" %>
  <%= f.text_field :email %>
  <br />
  <a> <%= f.label :password %> </a>
  <%= f.password_field :password %>
  <br />
  <%= f.submit "Login" %>
<% end %>
</div>
<br />
<%= link_to "Back home", root_path, class: 'link' %>
