<div class="form">
<%= form_for [@user, @recipe] do |f| %>
 <%= f.fields_for :recipe_ingredient do |ri| %>
   <%= ri.label "number of" %>
   <%= ri.number_field :number %>
   <% end %>
 <%= f.fields_for :ingredient do |ff| %>
   <%= ff.label :measurement %>
   <%= ff.text_field :measurement %>
   <%= ff.label 'name' %>
   <%= ff.text_field :name %>
   <%= ff.label :category %>
   <%= ff.text_field :category %>
   <% end %> <br />
   <%= f.submit "Add Ingredient to #{@recipe.description}" %>
<% end %>
</div>
