<div class="form">
<%= form_for @user do |f| %>
  <a> <%= f.label "Name" %> </a>
  <%= f.text_field :name %>
  <br />
  <a> <%= f.label "E-mail / User name" %> </a>
  <%= f.text_field :email %>
  <br />
  <a> <%= f.label "password" %> </a>
  <%= f.password_field :password %>
  <br />
  <%= f.submit "Create Account" %>
<% end %>
</div>
